.body{
  margin: 30px;
}

#cards{
  width: 100%;
  margin: 20px;
}

#filter{
  margin: 12px;
  float: left;
}

button{
  background-color: white;
  border-radius: 5px;
  font-size: medium;
  margin: 10px 20px 10px;
}

select{
  font-size: medium;
}
