.card{
    float: left;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    width: 211px;
    min-height: 50px;
    padding: 4px 4px 4px 8px;
    margin: 8px 5px;
    border-radius: 3px;
}

.name{
    font-size: 20px;
    line-height: 2;
}